
.top-use-info-banner {
    position: relative;
}

.profileNav {

    position: relative;
    width: 100%;
    bottom: 33px;

}

.profileNav ul {
    text-align: center;
    display: flex;
    justify-content: center;
    transition: all ease-in-out 0.5s;
}

.profileNav ul li {
    background: #C1C7D0;
    padding: 10px 0px;
    margin: 0px 10px;

}

.profileNav ul li:hover {

    background: #fff;
    border-bottom: 0px;

}

.profileNav ul li.active {

    border-bottom: 0px;

}

.profileNav ul li a.active {

    background: #fff;
    border-bottom: 0px;
    padding: 12px 30px;

}

.profileNav ul li a {
    padding: 12px 9px;

}

.profileNav ul li a {
    font-weight: bold;
}

.profilebody {
    width: 60%;
    margin: auto;
}
 @media only screen and (max-width:576px) {
    .profilebody {
        width: 90%;
        margin: auto; 
        padding: 40px;
    }
    
  }

.profilebody-heading {}

.profilebody-doc {
    background: #F4F5F7;
}

/* activity page  */

.ActivityHeader {
    font-weight: bold;
    font-size: 22px;
    border-bottom: 1px dotted #C1C7D0;
    ;

}

.WorkspacesItem {
    font-size: 19px;
    border-bottom: 1px dotted #C1C7D0;
    ;
    line-height: 40px;

}

.activitityItemImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid;
    overflow: hidden
}

/* setting page  */
.profoleSettingItem {
    margin-bottom: 25px;
    padding-bottom: 20px;
}

.settingHeader {

    border-bottom: 1px solid #C1C7D0;
    ;
    padding-bottom: 20px;

}

.settingHeaderItem {
    display: inline-block;
    margin: 0;
    min-height: 18px;
    min-width: 40px;
    width: auto;
    font-size: 25px;

}

.profoleSettingItem a {
    border-radius: 3px;
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin: 4px 0 4px 40px;
    padding: 12px;
    position: relative;
    text-decoration: none;

}
/* card */
.profile-card-body-banner{
    background: #F4F5F7 ;
    text-align: center;
    height: 100px;
    line-height: 100px;
    margin-top: 30x;
}
