


.modal.modal-bottom.sm\:modal-middle {
    width: 500px;
    height: 700px;
}
.modal-box{
    width: 500px;
    height: 700px;
}

.b-modal-bg{
    background : url('https://i.ibb.co/xChCQ7F/bg1.jpg');
}