
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,700;1,700&display=swap');




.modal.modal-bottom.sm\:modal-middle {
    width: 500px;
    height: 700px;
}
.modal-box{
    width: 500px;
    height: 700px;
}

.navTitle{
    font-family: 'PT Serif', serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
    margin: 0px 25px 0px 25px;
    color: #60A4FA;
}