.aSeetingIcon {
  color: white;
  background-color: #081A51;

  font-size: 45px;
  border-radius: 5px;

}

/* <!-- HTML !-->
<button class="workspace-button" role="button">Button 27</button> */

/* CSS */
.workspace-button {
  appearance: none;
  background-color: #081A51;
  border: 2px solid #081A51;
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.workspace-button:disabled {
  pointer-events: none;
}



.workspace-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.accountUnderline {
  margin-top: 20px;
  height: 1px;
  background-color: #102155;
  opacity: calc(25%);
}

.small-button {
  background-color: #081A51;
  border: 2px solid #081A51;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.small-button:hover {
  box-shadow: rgb(8, 26, 81) 0 6px 10px;
  transform: translateY(-2px);
}