.active{
   background: linear-gradient(90deg, #BFC9FF 2.16%, rgba(191, 201, 255, 0) 97.84%);
   transform: translate(10px, 0px);
   color: #0038FF;
}

#navProfile{
   font-weight: bold;
   height: 30px;
   width: 30px;
   padding: 17px;
   border: 5px solid white;
   border-radius: 50%;
   color: rgb(255, 255, 255);
   background-color: #002198;
}
#navProfile:hover{
   color: blue;
   background-color: #BFC9FF;
   font-weight: bold;
   cursor: pointer;
}

.myButton{
   font-weight: 600;
}
.myButton:hover{
   background: #BFC9FF;
   color: #0038FF;
   /* background: linear-gradient(90deg, #BFC9FF 2.16%, rgba(191, 201, 255, 0) 97.84%); */
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


.navTitle{
   font-family: 'Inter', sans-serif;
   font-size: 30px;
   font-weight: 700;
   color: #002198;
}




#sidebarOverflow::-webkit-scrollbar {
   display: none; /* for Chrome, Safari, and Opera */
 }


.sidebar-workspace-toggle-button{
   border-radius: 5px;
   padding: 5px 10px 5px 10px;
   font-weight: bold;
}

.sidebar-workspace-toggle-button:hover{
   background: #f5f6f9;
}