.active {
   /* background: linear-gradient(90deg, #BFC9FF 2.16%, rgba(191, 201, 255, 0) 97.84%);
   transform: translate(10px, 0px);
   color: #0038FF; */
}


#navProfile {
   font-weight: bold;
   height: 30px;
   width: 30px;
   padding: 17px;
   border: 5px solid white;
   border-radius: 50%;
   color: rgb(255, 255, 255);
   background-color: #000000;
}

#navProfile:hover {
   color: rgb(55, 55, 55);
   background-color: #BFC9FF;
   font-weight: bold;
   cursor: pointer;
}

.myButton {
   font-weight: 600;
}

.myButton:hover {
   background: #BFC9FF;
   color: #0038FF;

}

.sidebar-button:hover {
   background: #BFC9FF;
   color: #0038FF;
   /* background: linear-gradient(90deg, #BFC9FF 2.16%, rgba(191, 201, 255, 0) 97.84%); */
}


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');


.navTitle {
   font-family: 'Inter', sans-serif;
   font-size: 28px;
   width: 100%;
   font-weight: 700;
   color: rgb(0, 0, 0);
}




#sidebarOverflow::-webkit-scrollbar {
   display: none;

   /* for Chrome, Safari, and Opera */
}

#sidebarOverflow .active {
   background: linear-gradient(90deg, #BFC9FF 2.16%, rgba(191, 201, 255, 0) 97.84%);
   transform: translate(10px, 0px);
   color: #0038FF;
}




.sidebar-workspace-toggle-button {
   border-radius: 5px;
   padding: 5px 10px 5px 10px;
   font-weight: bold;
}

.workspace-sidebar-toggle-button {
   border-radius: 5px;
   font-weight: bold;
}

.workspace-sidebar-toggle-button:hover {
   background: #7b7b84;
}

.sidebar-workspace-toggle-button:hover {
   background: #f5f6f9;
}